*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif,Arial,Helvetica;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;

}
.container{
    padding-top: 20px;
    max-width: 100%;
    width: 100%;
    margin: auto;
    position: relative;
    height: auto;
}
ul{
    list-style-type: none;
    font-weight: bold;


}
h1 ,h2{
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}
p {
    margin-bottom: 1rem;
    color: black;
    text-align: justify-all;
}
strong{
    font-weight: bold;
}

footer {
    /* just for demo */
    background-color: #F8F8F8;
    border-top: 1px solid #E7E7E7;
    text-align:center;
    padding:20px;
    /* just for demo */

    position: absolute;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
}