*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif,Arial,Helvetica;
    font-size: 16px;
    line-height: 30px;

}
.container{
    max-width: 50%;
    width: 100%;
    margin: auto;
    position: relative;
}
#data{
    background-color: #F9F9F9;
    padding: 25px;
    margin: 50px 0;
}
fieldset{
    border: medium none !important;
    margin: 0 0 10px;
    padding: 0;
    width: 60%;

}

#data input[type="text"]{
    width:100%;
    border:1px solid #CCC;
    background:#FFF;
    margin:0 0 5px;
    padding:10px;
    font-size: 15px;
}
#data button[type="submit"] {
    cursor:pointer;
    width:100%;
    border:none;
    background:#0CF;
    color:#FFF;
    margin:0 0 5px;
    padding:10px;
    font-size:15px;
}
footer {
    /* just for demo */
    background-color: #F8F8F8;
    border-top: 1px solid #E7E7E7;
    text-align:center;
    padding:20px;
    /* just for demo */

    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
}