.fondo{
    background: #00CCFF;
    height: 25vh;
    background-position: center;
    background-size: cover;
}
.instruccion{
    background: #00CCFF;
    height: 85vh;
    background-position: center;
    background-size: cover;
}